<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>workout login</title>
        <link rel="stylesheet" href="styles.css">

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div id="app">
            <h1>{{ message }}</h1>

            <!-- <button @click="getAccounts">get accounts</button> -->
            <button v-show="loggedIn" @click="logout">logout</button>

            <div>
                <login-form v-show="!loggedIn" @update-message="updateMessage"></login-form>
                <signup-form v-show="!loggedIn"></signup-form>
            </div>
            
            

            <div class="calendar" v-show="showCalendar">
                <div class="calendar_header">
                    <div>
                        <h2 class="month_displayed" :class="{ 'hovered' : isHovered }" @click="toggleDropdown" @mouseover="isHovered = true" @mouseleave="isHovered = false">{{ calendar.monthDisplayed }}</h2>
                        <div class="dropdown" v-show="showDropdown">
                            <div v-for="(year, index) in calendar.yearOptions" class="options" @click="selectYear(year)" @mouseover="setDropdownHovered(index, true)" @mouseleave="setDropdownHovered(index, false)" :class="{'hovered': dropdownHovered[index]}">
                                <div>{{ year }}</div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <button class="button_left" @click="incrementMonth(-1)">left</button>
                    <button class="button_right" @click="incrementMonth(1)">right</button>
                </div>

                <div class="calendar_wrapper">
                    <div v-for="(calendarDay, index) in calendar.calendarDays" @click="selectDay(calendarDay)" :style="{color: calendar.daysContainingWorkout.includes(calendarDay) ? 'gold' : 'white'}" :class="{'hovered': daysHovered[index]}" @mouseover="setDaysHovered(index, true, calendarDay)" @mouseleave="setDaysHovered(index, false, calendarDay)">
                        {{ calendarDay }}
                    </div>
                </div>
            </div>
            




            <div v-show="loggedIn">
                <p @click="toggleCalendar">date: {{ date }}</p>
                <div class="workoutList">
                    <ul>
                        <li v-for="workout in workouts" :key="workout.workoutId">
                            <button @click="selectWorkout(workout.workoutId)">{{ workout.workoutName }}</button>
                        </li>
                    </ul>

                    <button @click="addWorkout">add workout</button>
                    <button @click="addSet">add set</button>
                    <button @click="deleteWorkout">delete workout</button>
                    <button @click="deleteSet">delete set</button>
                    <button @click="editWorkout">edit workout name</button>
                    <button @click="editSet">edit set</button>
                </div>
    
                <div class="setList">
                    <ul>
                        <li v-for="workoutDetail in workoutDetails" :key="workoutDetail.workoutId">
                            <div>
                                Workout Name: {{ workoutDetail.workout_name}}
                            </div>
                            <ul>
                                <li v-for="set in workoutDetail.sets">
                                    <button @click="selectSet(set.setId)">weight: {{ set.weight }} reps: {{ set.reps }}</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
    
            </div>
            
        </div>
    </body>

    <script src="./main.js"></script>
    <script src="./components/LoginForm.js"></script>
    <script src="./components/SignupForm.js"></script>

    <script>
        axios.defaults.baseURL = 'http://localhost:8080';
        const mountedApp = app.mount('#app')
    </script>
</html>