<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>workout login</title>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <div id="app">
            <h1>{{ message }}</h1>

            <!-- <button @click="getAccounts">get accounts</button> -->
            <button v-show="loggedIn" @click="logout">logout</button>

            <login-form v-show="!loggedIn" @update-message="updateMessage"></login-form>
            <signup-form v-show="!loggedIn"></signup-form>

            <div>
                <p>date: {{ date }}</p>
                <form class="date-select" @submit.prevent="setDate">
                    <input id="year" v-model="this.formDate.year">
                    <input id="month" v-model="this.formDate.month">
                    <input id="day" v-model="this.formDate.day">
                    <input class="button" type="submit" value="Submit">
                </form>
            </div>

            <div class="workoutList">
                <ul>
                    <li v-for="workout in workouts" :key="workout.workoutId">
                        <button @click="selectWorkout(workout.workoutId)">{{ workout.workoutName }}</button>
                    </li>
                </ul>
            </div>

            <div class="setList">
                <ul>
                    <li v-for="workoutDetail in workoutDetails" :key="workoutDetail.workoutId">
                        <div>
                            Workout Name: {{ workoutDetail.workout_name}}
                        </div>
                        <ul>
                            <li v-for="set in workoutDetail.sets">
                                <button @click="selectSet(set.setId)">weight: {{ set.weight }} reps: {{ set.reps }}</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </body>

    <script src="./main.js"></script>
    <script src="./components/LoginForm.js"></script>
    <script src="./components/SignupForm.js"></script>

    <script>
        axios.defaults.baseURL = 'http://localhost:8080';
        const mountedApp = app.mount('#app')
    </script>
</html>