.calendar_wrapper {
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    column-gap: 0px;
    row-gap: 0em;
    width: 100px;
    height: 100px;

    /* border: 2px solid #f76707;
    border-radius: 1px;
    background-color: #fff4e6; */
  }
  
  .calendar_wrapper > div {
    border: 2px solid #ffa6a6;
    aspect-ratio: 1/1;
    border-radius: 1px;
    background-color: #ffd1d1;
    padding: 1em;
    color: #a43737;
    font: 1em "Fira Sans", sans-serif;
  }

  .calendar_header {
    padding: 10px;
    padding-bottom: 55px;
    width: 382px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    background-color: #ca4f4f;
    /* overflow: hidden; */
  }
  
  .calendar {
    position: relative;
    left: 50px;
    top: 30px;

    /* left: 50%;
    top: 50%; */
  }

  .month_displayed {
    font: 1.3em "Fira Sans", sans-serif;
    text-align: center;
    color: white;
    position: relative;
    line-height: 9px;
  }

  .button_left {
    position: absolute;
    left: 15px;
    bottom: 20px;
  }
  
  .button_right {
    position: absolute;
    left: 333px;
    bottom: 20px;
  }


  .dropdown {
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    width: 15%;
    position: relative;
    left: 44%;
  }

  .options {
    text-align: center;
    padding-bottom: 25%;
    border: 2px solid black;
  }