.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    column-gap: 0px;
    row-gap: 0em;
    width: 100px;
    height: 100px;

    /* border: 2px solid #f76707;
    border-radius: 1px;
    background-color: #fff4e6; */
  }
  
  .wrapper > div {
    border: 2px solid #ffa6a6;
    aspect-ratio: 1/1;
    border-radius: 1px;
    background-color: #ffd1d1;
    padding: 1em;
    color: #a43737;
    font: 1em "Fira Sans", sans-serif;
  }
  